<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <img src="assets/imgs/medium-logo-fit.png" class="app-menu-logo" />
      </ion-col>
    </ion-row>
    <ion-row align-items-start>
      <ion-col>
        <form #userForm="ngForm">
          <ion-list>

            <ion-item>
              <ion-label stacked>Email</ion-label>
              <ion-input #email="ngModel" minlength="3" maxlength="80" required name="email" [(ngModel)]="user.email" [email]="true" type="email"></ion-input>
            </ion-item>
            <div class="form-error" *ngIf="email.invalid && (email.dirty || email.touched) && email.errors">
              <div *ngIf="email.errors.required">El email es requerido.</div>
              <div *ngIf="email.errors.email">El formato del email es incorrecto.</div>
              <div *ngIf="email.errors.minlength">Minimo 3 caracteres.</div>
            </div>

            <ion-item>
              <ion-label stacked>Contrase&ntilde;a</ion-label>
              <ion-input #password="ngModel" minlength="1" maxlength="14" required name="password" [(ngModel)]="user.password" [type]="passwordType"></ion-input>
              <ion-icon item-end [name]="passwordIcon" class="passIcon" (click)='hideShowPassword()'></ion-icon>
            </ion-item>
            <div class="form-error" *ngIf="password.invalid && (password.dirty || password.touched) && password.errors">
              <div *ngIf="password.errors.required">La contrase&ntilde;a es obligatoria. debe tener entre 8 y 14 caracteres.</div>
              <div *ngIf="password.errors.minlength">La contrase&ntilde;a debe tener al menos 8 caracteres.</div>
            </div>

          </ion-list>

          <div text-center>
            <button ion-button round color="danger" opacity [disabled]="!userForm.form.valid" (click)="login()">Login</button>
            <button *ngIf="!showVolver" ion-button opacity round outline color="dark" back-button (click)="goBack()">Volver</button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
