<ion-header customheader header-title="Favoritos"></ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h2 [innerHTML]="'Bienvenido ' + userData.first_name + ' ' + userData.last_name"></h2>
        <img [src]="avatars[avatar]" />
      </ion-col>
    </ion-row>
    <ion-row *ngIf="favorites.length == 0">
      <ion-col text-center padding>
        <h3>No tienes ningun favorito aun.</h3>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let favorite of favorites;">
      <ion-col>
        <div [ngSwitch]="favorite.type">
          <span *ngSwitchCase="'grades'">Grado</span>
          <span *ngSwitchCase="'universities'">Universidad</span>
          <span *ngSwitchCase="'colleges'">Colegio Mayor</span>
        </div>
        <div [ngSwitch]="favorite.type">
          <div *ngSwitchCase="'universities'">
            <p [innerHTML]="favorite.university"></p>
          </div>
          <div *ngSwitchCase="'grades'">
            <p [innerHTML]="favorite.grade"></p>
          </div>
          <div *ngSwitchCase="'colleges'">
            <p [innerHTML]="favorite.career"></p>
          </div>
          <button ion-button round small outline color="danger" (click)="viewFavorite(favorite)">ver</button>
          <button ion-button round small color="danger" (click)="deleteFavorite(favorite)">borrar</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
