page-favoritos {
  ion-content {
    // background-image:url('../../assets/imgs/favoritos.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .scroll-content {
      background-color: rgba(255,255,255,0.75);

      .image-wrapper {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: auto;
        position: relative;
        overflow: hidden;
        text-align: center;
        background-color: white;
        .user-image {
          position: absolute;
          top: -25%;
          left: 0;
          width: 100%;
          height: auto;
        }
        .profile-icon {
          font-size: 10em;
          color: map-get($colors, danger);
        }
        [ion-button] {
          position: absolute;
          bottom: -5px;
          ion-icon {
            font-size: 2em;
          }
        }
      }
      .career-title {
        color: white;
      }
      .no-video {
        font-size: 1.5em;
      }
    }
  }
}
