page-universidades {
  ion-content {
    // background-image: url('../../assets/imgs/universidades.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .scroll-content {
      background-color: rgba(255, 255, 255, 0.75);
      .list > .item-block {
        border-top: 0;
        .item-inner {
          border-color: map-get($colors, danger);
          ion-label {
            display: flex;
            overflow: auto;
            text-overflow: inherit;
            white-space: normal;
            align-items: center;
          }
          .university-name {
            display: inline-block;
            max-width: 85%;
            padding-left: .75em;
          }
          i {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 1.45em;
            border-radius: 50%;
            color: $white9;
            border: 3px solid $gold;
          }
        }
      }
      .item {
        background-color: transparent;
      }
    }
  }
}
