page-universidades {
  ion-content {
    // background-image: url('../../assets/imgs/universidades.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .scroll-content {
      background-color: rgba(255, 255, 255, 0.75);
      .list > .item-block {
        border-color: map-get($colors, danger);
        border-top: 0;
        .item-inner {
          border-color: map-get($colors, danger);
        }
      }
      .item {
        background-color: transparent;
      }
    }
  }
}
