page-grado {
  ion-content {
    // background-image: url('../../assets/imgs/grados_y_salidas.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .scroll-content {
      background-color: rgba(255, 255, 255, 0.45);
      .item {
        background-color: rgba(255, 255, 255, 0.5);
      }
      .career-title {
        color: black;
      }
      .no-video {
        font-size: 1.5em;
      }

      a {
        text-decoration: underline;
      }

      .grade-data {
        border: 1px solid black;
        &-title {
          padding-bottom: 4px;
          color: #333;
        }
        &-value {
          color: #333;
          font-size: 1.1em;
        }
      }

      .university-link {
        padding: 0 1.5em;
        &.has-logo {
          .button-inner {
            align-items: center;
            justify-content: space-between;
            img {
              max-height: 40px;
            }
          }
        }
        .button-inner {
          color: black;
        }
      }

      .universities_list {
        padding-left: 0;
        list-style: none;
        li {
          padding-left: 0;
          padding: 1em 0;
          border-bottom: 1px solid map-get($colors, 'danger');
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }

  .toolbar-title {
    color: black;
  }
  .toolbar-background {
    background-color: #333;
  }
  .text-ios-primary {
    color: map-get($colors, danger);
  }
  [color="light"] {
    color: map-get($colors, dark);
  }
}
