<ion-header>
  <ion-toolbar>
    <ion-title>
      <!-- <div [ngSwitch]="item.type">
        <span *ngSwitchCase="'grades'">Grado</span>
        <span *ngSwitchCase="'universities'">Universidad</span>
        <span *ngSwitchCase="'colleges'">Colegio Mayor</span>
      </div> -->
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Volver</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end addtofavoriteheader [favoriteItem]="item"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab top center edge>
    <button ion-fab mini color="danger"><ion-icon name="md-share"></ion-icon></button>
    <ion-fab-list side="left">
      <button class="facebook" ion-fab color="light" (click)="shareVia(item, 'facebook')"><ion-icon name="logo-facebook"></ion-icon></button>
      <button class="twitter" ion-fab color="light" (click)="shareVia(item, 'twitter')"><ion-icon name="logo-twitter"></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="right">
      <button class="whatsapp" ion-fab color="light" (click)="shareVia(item, 'whatsapp')"><ion-icon name="logo-whatsapp"></ion-icon></button>
      <button class="email" ion-fab color="light" (click)="shareVia(item, 'email')"><ion-icon name="md-mail"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <div [ngSwitch]="item.type" padding-top>
    <!-- type grados -->
    <div *ngSwitchCase="'grades'">
      <h1 text-center class="career-title" [innerHTML]="item.grade"></h1>
      <image-switch-iframe
      *ngIf="item.video"
      [url]="item.video"
      [name]="item.grade"
      [width]="dimensionData.width"
      [height]="dimensionData.height">
      </image-switch-iframe>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col class="grade-data" margin-left margin-right margin-top *ngIf="item.duracion">
            <ion-row class="grade-data-title" justify-content-center>Duracion</ion-row>
            <ion-row class="grade-data-value" justify-content-center [innerHTML]="item.duracion"></ion-row>
          </ion-col>
          <ion-col class="grade-data" margin-left margin-right margin-top *ngIf="item.creditos">
            <ion-row class="grade-data-title" justify-content-center>Creditos</ion-row>
            <ion-row class="grade-data-value" justify-content-center [innerHTML]="item.creditos"></ion-row>
          </ion-col>
          <ion-col class="grade-data" margin-left margin-right margin-top *ngIf="item.idiomas">
            <ion-row class="grade-data-title" justify-content-center>Idiomas</ion-row>
            <ion-row class="grade-data-value" justify-content-center [innerHTML]="item.idiomas"></ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div padding>
        <div *ngIf="item.main_university">
          <h4 color="light" [innerHTML]="item.main_university.university"></h4>
          <p color="light" [innerHTML]="item.main_university.address"></p>
          <div *ngIf="item.main_university.telephone" padding-bottom>
            <a color="light" (click)="callPhoneNumber(item.main_university.telephone)" [innerHTML]="item.main_university.telephone"></a>
          </div>
          <div *ngIf="item.main_university.website" padding-bottom>
            <button ion-button round color="light" [class.has-logo]="item.main_university.logo" block class="university-link" (click)="openUrl(item.main_university.website, item.main_university.university)">
              <img [src]="'assets/imgs/university-logos/' + item.main_university.logo" *ngIf="item.main_university.logo" />
              <span>Ir al sitio web de la universidad</span>
            </button>
          </div>
          <div padding-bottom>
            <button ion-button round color="danger" block (click)="goTo(item.main_university, 'universities')">Ver en la app</button>
          </div>
          <button round *ngIf="item.main_university.latitude && item.main_university.longitude" ion-button outline block color="dark" (click)="viewLocation({latitude: item.main_university.latitude, longitude: item.main_university.longitude})">Ver en el mapa</button>
        </div>
      </div>
      <div *ngIf="item.list && item.list.length">
        <h5 text-center color="light">Universidades que imparten este grado:</h5>
        <ion-list>
          <ion-item class="university-item-in-grade-list" *ngFor="let university of item.list;" (click)="goTo(university, 'universities');">
            <i class="fas fa-university"></i>
            <span>{{ university.university }}</span>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <!-- type colegio mayor -->
    <div *ngSwitchCase="'colleges'">
      <h1 color="light" [innerHTML]="item.name"></h1>
      <image-switch-iframe
      *ngIf="item.video"
      [url]="item.video"
      [name]="item.name"
      [width]="dimensionData.width"
      [height]="dimensionData.height">
      </image-switch-iframe>
      <h2 *ngIf="!item.video" color="light" text-center padding>
        Aun no hay video sobre este colegio mayor
      </h2>
      <p color="light" [innerHTML]="item.address"></p>
      <div *ngIf="item.telephone" padding-bottom>
        <a color="light" (click)="callPhoneNumber(item.telephone)" [innerHTML]="item.telephone"></a>
      </div>
      <div *ngIf="item.email" padding-bottom>
        <a color="light" (click)="sendMail(item.email)" [innerHTML]="item.email"></a>
      </div>
      <div padding-bottom>
        <div *ngIf="item.telephone" padding-bottom>
          <a color="light" (click)="callPhoneNumber(item.telephone)" [innerHTML]="item.telephone"></a>
        </div>
        <div *ngIf="item.website" padding-bottom>
          <button ion-button round color="light" [class.has-logo]="item.logo" block class="university-link" (click)="openUrl(item.website, item.name)">
            <img [src]="'assets/imgs/university-logos/' + item.logo" *ngIf="item.logo" />
            <span>Ir al sitio web del colegio</span>
          </button>
        </div>
        <button round *ngIf="item.latitude && item.longitude" ion-button outline block color="dark" (click)="viewLocation({latitude: item.latitude, longitude: item.longitude})">Ver en el mapa</button>
      </div>
    </div>

    <div *ngSwitchCase="'universities'">
      <h2 text-center color="light" [innerHTML]="item.university"></h2>
      <div padding-bottom>
        <p color="light" [innerHTML]="item.address"></p>
        <div *ngIf="item.telephone" padding-bottom>
          <a color="light" (click)="callPhoneNumber(item.telephone)" [innerHTML]="item.telephone"></a>
        </div>
        <div *ngIf="item.email" padding-bottom>
          <a color="light" (click)="sendMail(item.email)" [innerHTML]="item.email"></a>
        </div>
        <div *ngIf="item.website" padding-bottom>
          <button ion-button round color="light" [class.has-logo]="item.logo" block class="university-link" (click)="openUrl(item.website, item.university)">
            <img [src]="'assets/imgs/university-logos/' + item.logo" *ngIf="item.logo" />
            <span>Ir al sitio web de la universidad</span>
          </button>
        </div>
        <button round *ngIf="item.latitude && item.longitude" ion-button outline block color="dark" (click)="viewLocation({latitude: item.latitude, longitude: item.longitude})">Ver en el mapa</button>
      </div>
      <div *ngIf="item.grades.length">
        <h5 text-center color="light">Grados que imparte esta universidad:</h5>
        <ion-list>
          <ion-item class="grade-item-in-university-list" *ngFor="let grade of item.grades;" (click)="goTo(grade, 'grades');">
            <i class="fas fa-graduation-cap"></i>
            <span>{{ grade.grade }}</span>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>


</ion-content>
