page-register {
  ion-content {
    // background-image: url('../../assets/imgs/register.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .scroll-content {
      background-color: rgba(255, 255, 255, 0.8);
      ion-grid {
        min-height: 100%;
        justify-content: center;
      }
      .list > .item-block:first-child {
        border-top: 0;
      }
      .list > .item-block:last-child {
        border-bottom: 0;
      }
      .item {
        background-color: transparent;
        .label[stacked],
        [color="danger"] {
          color: map-get($colors, dark);
        }
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}
