<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <img src="assets/imgs/medium-logo-fit.png" class="app-menu-logo" />
      </ion-col>
    </ion-row>
    <ion-row align-items-start>
      <ion-col>
        <form #userForm="ngForm">
          <ion-list>

            <ion-item>
              <ion-label stacked>Nombre</ion-label>
              <ion-input #firstname="ngModel" name="firstname" minlength="2" maxlength="50" required [(ngModel)]="user.first_name" type="text"></ion-input>
            </ion-item>
            <div class="form-error" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched) && firstname.errors">
              <div *ngIf="firstname.errors.required">El nombre es requerido.</div>
              <div *ngIf="firstname.errors.minlength">Minimo 2 caracteres.</div>
            </div>

            <ion-item>
              <ion-label stacked>Apellido</ion-label>
              <ion-input #lastname="ngModel" name="lastname" minlength="2" maxlength="50" required [(ngModel)]="user.last_name" type="text"></ion-input>
            </ion-item>
            <div class="form-error" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched) && lastname.errors">
              <div *ngIf="lastname.errors.required">El apellido es requerido.</div>
              <div *ngIf="lastname.errors.minlength">Minimo 2 caracteres.</div>
            </div>

            <ion-item>
              <ion-label stacked>Edad</ion-label>
              <ion-select #age="ngModel" name="age" required [(ngModel)]="user.age">
                <ion-option *ngFor="let age of ages" [value]="age" [innerHTML]="age"></ion-option>
              </ion-select>
            </ion-item>
            <div class="form-error" *ngIf="age.invalid && (age.dirty || age.touched) && age.errors">
              <div *ngIf="age.errors.required">La edad es requerida.</div>
            </div>

            <ion-item>
              <ion-label stacked>Email</ion-label>
              <ion-input #email="ngModel" name="email" minlength="3" maxlength="80" required [(ngModel)]="user.email" (ionBlur)="checkEmail()" #registeremail="ngModel" [email]="true" type="email"></ion-input>
            </ion-item>
            <div class="form-error" *ngIf="email.invalid && (email.dirty || email.touched) && email.errors">
              <div *ngIf="email.errors.required">El email es requerido.</div>
              <div *ngIf="email.errors.email">El formato del email es incorrecto.</div>
              <div *ngIf="email.errors.minlength">Minimo 3 caracteres.</div>
            </div>

            <ion-item>
              <ion-label stacked>Contrase&ntilde;a</ion-label>
              <ion-input #password="ngModel" name="password" minlength="8" maxlength="14" required [(ngModel)]="user.password" [type]="passwordType"></ion-input>
              <ion-icon item-end [name]="passwordIcon" class="passIcon" (click)='hideShowPassword()'></ion-icon>
            </ion-item>
            <div class="form-error" *ngIf="password.invalid && (password.dirty || password.touched) && password.errors">
              <div *ngIf="password.errors.required">La contrase&ntilde;a es obligatoria. debe tener entre 8 y 14 caracteres.</div>
              <div *ngIf="password.errors.minlength">La contrase&ntilde;a debe tener al menos 8 caracteres.</div>
            </div>

            <ion-item>
              <p color="danger" stacked class="label" padding-bottom>Elige tu avatar</p>
              <ion-slides (ionSlideDidChange)="slideChanged()">
                <ion-slide *ngFor="let avatar of avatars;">
                  <img [src]="avatar" />
                </ion-slide>
              </ion-slides>
            </ion-item>

            <ion-item text-center padding-top>
              <ion-label (click)="seePrivacyPolicy()">ver <span style="color: dodgerblue;">politica de privacidad</span></ion-label>
            </ion-item>
            <div class="form-error" *ngIf="!accept">
              debes aceptar la politica de privacidad para registrarte
            </div>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
    <ion-row align-items-end text-center>
      <ion-col>
        <button ion-button round outline color="dark" opacity back-button (click)="goBack()">Volver</button>
      </ion-col>
      <ion-col text-right>
        <button ion-button round color="danger" opacity [disabled]="!userForm.form.valid || !accept" (click)="register()">Registrarme</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
