<ion-header customheader header-title="Inicio"></ion-header>

<ion-content padding text-center>
  <ion-content>
    <img src="assets/imgs/large-logo-2.png" style="width: 25%;" alt="logo-wikigrado" />
    <h1>Bienvenido a</h1><img src="assets/imgs/wiki_red.png" style="opacity: .85;width: 60%;margin-top:  16px;"/>
    <div *ngIf="!test_done">
      <h5 justify padding>
        ¿Quieres conocer el bachillerato y el grado que mejor se adapta a tu personalidad?<br/><br/>Orientadores de la prestigiosa Universidad de Navarra contestan al test de orientación académica con el que se inicia esta app.
      </h5>
      <h5 boxxed-white justify padding>
        Si quieres una versión más completa, sigue este <a (click)="openNavarraTest()">enlace</a>.
        <br/>
        <p text-center padding-top>
          <a (click)="openNavarraTest()">
            <img src="../assets/imgs/university-logos/universidad-navarra.png" />
          </a>
        </p>
      </h5>
    </div>
    <div *ngIf="test_done">
      <h5>Puedes realizar el test de personalidad nuevamente</h5>
    </div>
    <button ion-button color="danger" round margin-top (click)="goToTestPage()">Ir al Test</button>
  </ion-content>
</ion-content>
