<ion-header customheader header-title="Inicio"></ion-header>

<ion-content padding text-center>
  <img src="assets/imgs/large-logo-2.png" style="width: 25%;" alt="logo-wikigrado" />
  <h1>Bienvenido a</h1><img src="assets/imgs/wiki_white.png" style="width: 60%;margin-top:  16px;"/>
  <h5 *ngIf="!test_done" justify padding>
    ¿Quieres conocer el bachillerato y el grado que mejor se adapta a tu personalidad?<br/><br/>Orientadores de la prestigiosa Universidad de Navarra contestan al test de orientación académica con el que se inicia esta app.
  </h5>
  <h5 boxxed-white *ngIf="!test_done" justify padding>
    Si quieres una versión más completa, sigue este <a (click)="openNavarraTest()">enlace</a>.
    <br/>
    <p text-center padding-top>
      <a (click)="openNavarraTest()">
        <img src="../assets/imgs/university-logos/universidad-navarra.png" />
      </a>
    </p>
  </h5>
  <h5 *ngIf="test_done">puedes realizar el test de personalidad nuevamente</h5>
  <button ion-button color="danger" round *ngIf="!test_done" margin-top (click)="goToTestPage()">Realizar Test</button>
  <button ion-button color="danger" round *ngIf="test_done" margin-top (click)="goToTestPage()">Realizar nuevamente el test</button>
</ion-content>
