<ion-header>
  <ion-toolbar>
    <ion-title>
      Universidad
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Volver</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end addtofavoriteheader [favoriteItem]="navParams.data.universidadData"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2 text-center color="light" [innerHTML]="navParams.data.universidadData.universidad"></h2>
  <div *ngIf="navParams.data.universidadData.carreras.length">
    <h4 text-center color="light">Carreras de esta universidad:</h4>
    <ion-list>
      <ion-item *ngFor="let carrera of navParams.data.universidadData.carreras;">
        {{ carrera }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
