page-universidad {
  ion-content {
    background-image: url('../../assets/imgs/universidades.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .scroll-content {
      background-color: rgba(0,0,0,0.45);
    }
  }

  .toolbar-title {
    color: white;
  }
  .toolbar-background {
    background-color: #333;
  }
  .text-ios-primary {
    color: map-get($colors, danger);
  }
  [color="light"] {
    color: map-get($colors, light);
  }
}
