page-initial-slider {
  .slide-background {
    background-image: url('../assets/imgs/register.jpg');
    background-position: center;
    background-size: cover;
    .scroll-content {
      background-color: rgba(255,255,255,0.75);
      background-image: url('../assets/imgs/medium-logo.png');
      background-position: center 60px;
      background-repeat: no-repeat;
      .toolbar-background {
        background: transparent;
        border-color: transparent;
      }

      .last-slide {
        .slide-zoom {
          height: auto;
        }
      }
      .slide-zoom {
        height: 100%;
        .toolbar {
          margin-bottom: 150px;
        }
      }

      .slide-title {
        margin-top: 2.8rem;
      }
    }
  }
}
