<ion-header customheader header-title="Perfil"></ion-header>

<ion-content padding>
  <form #userEditForm="ngForm">
    <ion-grid>
      <ion-row padding-bottom>
        <ion-col>
          <ion-slides (ionSlideDidChange)="slideChanged()" [initialSlide]="avatar">
            <ion-slide *ngFor="let avatar of avatars;">
              <img [src]="avatar" />
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row padding-top>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label stacked>Nombre</ion-label>
              <ion-input name="firstname" required [(ngModel)]="user.first_name" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label stacked>Apellido</ion-label>
              <ion-input name="lastname" required [(ngModel)]="user.last_name" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label stacked>Edad</ion-label>
              <ion-select name="age" required [(ngModel)]="user.age">
                <ion-option *ngFor="let age of ages" [value]="age" [innerHTML]="age"></ion-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label stacked>Email</ion-label>
              <ion-input name="email" disabled [(ngModel)]="user.email" type="email"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row align-items-end text-center>
        <ion-col>
          <button ion-button round outline color="danger" [disabled]="!userEditForm.form.valid" (click)="updateUser()">guardar cambios</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <hr />

  <ion-grid class="super-cool-grid">
    <ion-row *ngIf="favorites.length > 0">
      <ion-col text-center padding>
        <h3>Tu lista de favoritos</h3>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="favorites.length == 0">
      <ion-col text-center padding>
        <h3>No tienes ningun favorito aun</h3>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let favorite of favorites;">
      <ion-col>
        <div [ngSwitch]="favorite.type">
          <span *ngSwitchCase="'grades'">Grado</span>
          <span *ngSwitchCase="'universities'">Universidad</span>
          <span *ngSwitchCase="'colleges'">Colegio Mayor</span>
        </div>
        <div [ngSwitch]="favorite.type">
          <div *ngSwitchCase="'universities'">
            <p [innerHTML]="favorite.university"></p>
          </div>
          <div *ngSwitchCase="'grades'">
            <p [innerHTML]="favorite.grade"></p>
          </div>
          <div *ngSwitchCase="'colleges'">
            <p [innerHTML]="favorite.name"></p>
          </div>
          <button ion-button round small outline color="danger" (click)="viewFavorite(favorite)">ver</button>
          <button ion-button round small color="danger" (click)="deleteFavorite(favorite)">borrar</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
