page-user-profile {
  ion-content {
    background-image: url('../../assets/imgs/universidades.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .scroll-content {
      background-color: rgba(255, 255, 255, 0.75);
      ion-grid {
        min-height: 100%;
        justify-content: center;
      }
      .item {
        background-color: transparent;
        .label[stacked] {
          color: map-get($colors, danger);
        }
      }
      .user-image {
        width: 100%;
      }
      .image-wrapper {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: auto;
        position: relative;
        overflow: hidden;
        text-align: center;
        background-color: white;
        .profile-icon {
          font-size: 10em;
          color: map-get($colors, danger);
        }
        [ion-button] {
          position: absolute;
          bottom: -5px;
          ion-icon {
            font-size: 2em;
          }
        }
      }
    }
  }
}
