page-grados {
  .grados-y-salidas {
    .scroll-content {
      background-image: url('../../assets/imgs/grados_y_salidas.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: contain;
      image-switch-iframe {
        margin-bottom: 32px;
      }
    }
  }
}
