page-colegios-mayores {
  ion-content {
    // background-image: url('../../assets/imgs/universidades.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .scroll-content {
      background-color: rgba(255, 255, 255, 0.75);
      .list > .item-block {
        border-top: 0;
      }
      .item {
        background-color: transparent;
      }
      .list {
        .item {
          background-color: transparent;
          padding-left: 0;
          ion-label {
            color: map-get($colors, danger);
          }
          &.career {
            color: map-get($colors, danger);
            a {
              color: $white;
              text-decoration: none;
              font-size: 1.2em;
              display: flex;
              align-items: center;
              white-space: normal;
              &.has-video {
                font-weight: bold;
              }
              ion-icon {
                margin-right: .2em;
                font-size: 2em;
                color: map-get($colors, danger);
              }
            }
          }
        }
      }
    }
  }
}
