[customheader] {
  display: block;
  .app-menu-logo {
    width: 22%;
    display: block;
    margin: auto;
  }

  .user-profile {
    width: 43px;
  }

  ion-title {
    .toolbar-title {
      color: white;
    }
  }
}
