[customheader] {
  display: block;
  .app-menu-logo {
    width: 18%;
    background-color: white;
    border-radius: 5px;
    display: block;
    margin: auto;
  }

  .user-profile {
    width: 43px;
  }

  ion-title {
    left: 0;
    top: 0;
    padding: 0 90px 1px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
    .toolbar-title {
      color: white;
    }
  }
}
