// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.platform-ios11,
.platform-ios10 {

}

.scroll-content {
  background: rgb(44, 206, 214);
  background: -webkit-gradient(linear, left top, right top, from(rgba(44, 206, 214, 0.8)), to(rgba(32, 116, 204, 0.8)));
  background: linear-gradient(to right, rgba(44, 206, 214, 0.8), rgba(32, 116, 204, 0.8));
  border-color: white;
}

.scroll-content,
ion-menu .button,
ion-item .button,
ion-item ion-label {
  color: rgba(0,0,0,0.75) !important;
}

[boxxed] {
  // background-color: rgba(245,61,61,0.25);
  background-color: rgba(255,255,255,0.3);
  border-radius: 15px;
}

[boxxed-white] {
  background-color: rgba(255,255,255,0.3);
  border-radius: 15px;
}

[justify] {
  text-align: justify;
}

ion-toast .toast-wrapper {
  background-color: rgba(0, 0, 0, 0.65) !important;
}

ion-loading .loading-wrapper {
  background-color: rgba(248, 248, 248, 0.65) !important;
}

.passIcon{
  font-size: 2.5rem !important;
  position: relative !important;
  top: 11px !important;
  margin: 0 auto !important;
  padding: 5px;
  color: #333;
}

.swiper-pagination-bullet-active {
  background-color: map-get($colors, danger);
}

.menu-background {
  background-image: url('../assets/imgs/menu.jpg');
  background-position: center;
  background-size: contain;
  .scroll-content {
    background-color: rgba(255, 255, 255, 0.65);
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    padding-left: 30px;
    button {
      font-size: 1.8rem;
    }
  }
}

ion-title .toolbar-title {
  font-weight: 400;
}

.form-error {
  padding: 16px;
  color: map-get($colors, danger);
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

ion-list + ion-list.list {
  margin-top: 35px;
}

button[back-button] {
  color: #333;
  border: 0;
}

button.button[color="danger"][opacity] {
  background-color: rgba(245, 61, 61, .85);
  color: white;
}

[stacked].label {
  font-size: 1.6rem !important;
}
