// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$darkgrey: #FFF;
// $darkgrey: #333;
$grey: #FFF;
// $grey: #2A2928;
$lightgrey: lighten($grey, 5%);
$lightergrey: lighten($grey, 10%);
$morelightergrey: lighten($grey, 20%);
$darkergrey: darken($grey, 5%);
$yellow: #F7C708;
$lightyellow: lighten($yellow, 15%);
$lighteryellow: lighten($lightyellow, 5%);
$gold: #FBCB05;
$darkgold: darken($gold, 10%);
$desaturategold: desaturate($gold, 20%);
$desaturategold8: rgba($desaturategold, .8);
$gold8: rgba($gold, .8);
$gold6: rgba($gold, .6);
$saturategold: saturate($gold, 20%);
$saturategold8: rgba($saturategold, .8);
$lightgold: lighten($gold, 20%);
$lightergold: lighten($lightgold, 5%);
$lightdesaturategold: desaturate($lightgold, 20%);
$red: #CC2424;
$darkred: #A42424;
$lightred: #DB6567;
$white: #2A2928;
$white9: rgba($white, 0.9);
$white8: rgba($white, 0.8);
$white7: rgba($white, 0.7);
$white6: rgba($white, 0.6);
$white5: rgba($white, 0.5);
$appred: #F53D3D;
$lightappred: lighten($appred, 5%);

$facebook: #3b5999;
$whatsapp: #25D366;
$twitter: #55acee;
$email: #B0BEC5;

.platform-ios11,
.platform-ios10 {

}

.app-menu-logo {
  background-color: transparent !important;
  border-radius: 6px;
}

.ion-ios-list:before {
  font-size: 1.5em;
}

.collaborators-slide {
  .slide-zoom {
    overflow-y: auto;
    padding-bottom: 16px;
    ul {
      padding-left: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background-color: $gold;
      border-radius: 15px;
      li {
        width: 100%;
        margin: 0;
        border-bottom: 2px solid $grey;
        &:nth-child(even) {
        }
        &:nth-child(odd) {
        }
        img {
          padding: 12px 8px 8px;
          display: inline-block;
          max-height: 60px;
        }
      }
    }
  }
}

.first-slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .fa-university {
    color: $white;
    margin-bottom: -10px;
  }

  .fa-road {
    color: $morelightergrey;
  }
}

.second-slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .fa-globe {
    position: absolute;
    color: dodgerblue;
  }

  .fa-user {
    color: $lightappred;
    z-index: 100;
  }
}

.swiper-pagination-bullet-active {
  background: $red;
}

.swiper-pagination-bullet {
  background: $white;
}

.scroll-content {
  background: $darkgrey !important;
  border-color: white;
}

.scroll-content,
ion-menu .button,
ion-item .button,
ion-item ion-label,
ion-label p.label {
  color: $white9 !important;
}

ion-menu .button-md {
  height: auto;
}

.list > .item {
  background: transparent;
  .input-wrapper {
    .grade {
      color: $white8;
      text-decoration: none;
      font-size: .8em;
      display: flex;
      align-items: center;
      white-space: normal;
      &:not(.has-video) {
        i {
          border-radius: 50%;
          border: 3px solid $white5;
          color: $lightred;
        }
      }
      i {
        width: 29px;
        height: 29px;
        text-align: center;
        line-height: 1.85em;
        border: double 2px transparent;
        border-radius: 50%;
        color: $white9;
        border: 3px solid $appred;
      }

      .career-title {
        display: inline-block;
        max-width: 85%;
        padding-left: .75em;
      }
    }
  }
}

.list > .item-block:first-child {
  border-top: 0;
}

.list .item-block:not(.item-input):not(.item-select) .item-inner {
  border-bottom: 0;
}

.list > .item-block:last-child:not(.item-input):not(.item-select),
.list > .item-wrapper:last-child:not(.item-input):not(.item-select) .item-block {
  border-bottom: 0;
}

.menu {
  .scroll-content {
    padding-left: 8px;
    // background-color: $lightyellow !important;
    ion-icon {
      padding: 0;
      border-radius: 80%;
      width: 1.9em;
      height: 1.9em;
      line-height: 1.7em;
      text-align: center;
      border: solid 3px $appred;
    }

    [button-text] {
      display: inline-block;
      padding-left: .75em;
      font-size: 1.15em;
    }
  }
}

input,
.select-text {
  color: $white5 !important;
}

[justify] {
  text-align: justify;
}

ion-toast .toast-wrapper {
  // background-color: $darkgold !important;
}

ion-loading .loading-wrapper {
  background-color: $gold8 !important;
  .loading-content {
    color: $white;
  }
  .spinner-crescent circle {
    stroke: $white;
  }
}

.passIcon{
  font-size: 2.5rem !important;
  position: relative !important;
  top: 11px !important;
  margin: 0 auto !important;
  padding: 5px;
  color: $white8;
}

.menu-background {
  background-position: center;
  background-size: contain;
  .scroll-content {
    flex-direction: column;
    justify-content: space-around;
    display: flex;
  }
}

ion-header {
  .toolbar-background {
    background-color: $darkergrey;
  }
  [menuToggle] {
    color: $gold !important;
  }

  .navbar-right-buttons {
    .button-inner {
      span {
        color: $white9;
      }
    }
  }
}

ion-title .toolbar-title {
  font-weight: 400;
}

.form-error {
  padding: 16px;
  color: map-get($colors, danger);
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

ion-list + ion-list.list {
  margin-top: 35px;
}

[stacked].label {
  font-size: 1.6rem !important;
}

page-test {
  ion-content .scroll-content {
    ion-card {
      .item-radio-checked ion-label,
      .radio .radio-checked {
        color: $gold !important;
        .radio-inner {
          border-color: $gold;
        }
      }
    }
  }
}

page-grado {
  ion-fab-list {
    .fab {
      &.whatsapp {
        color: $whatsapp;
      }
      &.twitter {
        color: $twitter;
      }
      &.facebook {
        color: $facebook;
      }
      &.email {
        color: $email;
      }
    }
  }
}

.alert-wrapper .alert-message {
  text-align: justify;
}

/* OVERRIDES */
// page-initial-slider {
//   .scroll-content {
//     background-color: $white !important;
//     color: $grey !important;
//     .swiper-pagination-bullet {
//       background: $lightergrey !important;
//     }
//     .swiper-pagination {
//       .swiper-pagination-bullet-active {
//         background: $appred !important;
//       }
//     }
//
//     .first-slide {
//       display: flex;
//       justify-content: center;
//       flex-direction: column;
//       .fa-university {
//         color: $grey;
//         margin-bottom: -10px;
//       }
//     }
//
//     .second-slide {
//       display: flex;
//       justify-content: center;
//       flex-direction: column;
//       align-items: center;
//       .fa-globe {
//         position: absolute;
//         color: dodgerblue;
//       }
//
//       .fa-user {
//         color: $white;
//         z-index: 100;
//       }
//     }
//   }
// }
//
// page-pretest {
//   .scroll-content {
//     background-color: $white !important;
//     color: $grey !important;
//   }
// }

[addtofavoriteheader] {
  ion-icon {
    color: gold;
    font-size: 2em;
    &[name="star-outline"] {
      // color: white;
    }
  }
}
