.platform-ios11,
.platform-ios10 {

}

ion-content {
  &.diagonal {
    background: rgb(40,53,147);
    background: -moz-linear-gradient(-10deg, rgba(26,35,126,1) 0%, rgba(94,53,177,1) 22%, rgba(255,255,255,1) 22.01%);
    background: -webkit-linear-gradient(-10deg, rgba(26,35,126,1) 0%,rgba(94,53,177,1) 22%,rgba(255,255,255,1) 22.01%);
    background: linear-gradient(170deg, rgba(26,35,126,1) 0%,rgba(94,53,177,1) 22%,rgba(255,255,255,1) 22.01%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#283593', endColorstr='#ffffff',GradientType=1 );
  }
  background: rgb(40,53,147);
  background: -moz-linear-gradient(-10deg, rgba(26,35,126,1) 0%, rgba(94,53,177,1) 50%, rgba(255,255,255,1) 50.01%);
  background: -webkit-linear-gradient(-10deg, rgba(26,35,126,1) 0%,rgba(94,53,177,1) 50%,rgba(255,255,255,1) 50.01%);
  background: linear-gradient(170deg, rgba(26,35,126,1) 0%,rgba(94,53,177,1) 50%,rgba(255,255,255,1) 50.01%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#283593', endColorstr='#ffffff',GradientType=1 );
  & ion-content {
    background: rgb(255, 255, 255) !important;
  }
}

.list.list-no-border .item-inner {
  border-bottom: 0 !important;
}

.list .item-block .item-inner {
  border-bottom: 1px solid #9FA8DA;
}

.scroll-content,
ion-menu .button,
ion-item .button {
  color: #283593 !important;
}

ion-label,
ion-label .label,
input {
  color: #9FA8DA !important;
}

.menu {
  background: white;
}

[justify] {
  text-align: justify;
}

ion-toast .toast-wrapper {
  background-color: rgba(0, 0, 0, 0.65) !important;
}

ion-loading .loading-wrapper {
  background-color: rgba(248, 248, 248, 0.65) !important;
}

.passIcon{
  font-size: 2.5rem !important;
  position: relative !important;
  top: 11px !important;
  margin: 0 auto !important;
  padding: 5px;
  color: #333;
}

.swiper-pagination-bullet-active {
  background-color: map-get($colors, danger);
}

.menu-background {
  .scroll-content {
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    padding-left: 30px;
    button {
      font-size: 1.8rem;
    }
  }
}

ion-title .toolbar-title {
  font-weight: 400;
}

.form-error {
  padding: 16px;
  color: map-get($colors, danger);
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

ion-list + ion-list.list {
  margin-top: 35px;
}

button[back-button] {
  color: #333;
  border: 0;
}

[stacked].label {
  font-size: 1.6rem !important;
}
