<ion-header customheader header-title="Videos de orientacion"></ion-header>

<ion-content padding text-center>
  <h2 padding-top padding-bottom>Estos son los videos de orientacion de acuerdo al resultado de tu test de orientación</h2>
  <div class="separator" *ngIf="videos"></div>
  <div *ngFor="let video of videos;" padding-top padding-bottom>
    <h4 [innerHTML]="video.career"></h4>
    <image-switch-iframe
    [name]="video.career"
    [url]="video.url"
    [width]="dimensions.width"
    [height]="dimensions.height">
    </image-switch-iframe>
  </div>
  <div class="separator" *ngIf="videos"></div>
  <div padding>
    <h5 boxxed-white justify padding>
      Si quieres una versión más completa, sigue este <a (click)="openNavarraTest()">enlace</a>.
      <br/>
      <p text-center padding-top>
        <a (click)="openNavarraTest()">
          <img src="assets/imgs/university-logos/universidad-navarra.png" />
        </a>
      </p>
    </h5>
    <h5>Si quieres puedes volver a hacer el test.</h5>
    <button ion-button round color="danger" (click)="retakeTest()">Realizar test</button>
  </div>
</ion-content>
