page-orientation-videos-after-test {
  ion-content {
    // background-image: url('../../assets/imgs/test.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .scroll-content {
      background-color: rgba(255, 255, 255, 0.6);
      .separator {
        margin: 16px auto;
        height: 1px;
        background-color: black;
      }
    }
  }
}
