<ion-header customheader header-title="Test de Orientación"></ion-header>

<ion-content padding>
  <ion-card>
    <div *ngFor="let testQuestionSet of testQuestions; let i = index;">
      <div class="pages-data" padding [innerHTML]="questionsPageData + ' - ' + questionsAnsweredData" *ngIf="activeCardIndex == i"></div>
      <div *ngFor="let testQuestion of testQuestionSet; let subi = index;">
        <div [class.hidden]="i != activeCardIndex">
          <ion-card-header [innerHTML]="testQuestion.question"></ion-card-header>

          <ion-list radio-group>
            <ion-item *ngFor="let answer of testQuestion.answers">
              <ion-label [innerHTML]="answer.name"></ion-label>
              <ion-radio [value]="answer.value" color="danger" (ionSelect)="answerSelect(i, subi, answer)"></ion-radio>
            </ion-item>
          </ion-list>

        </div>
      </div>
      <ion-row no-padding *ngIf="activeCardIndex == i">
        <ion-col *ngIf="activeCardIndex > 0">
          <button ion-button small round color="danger" [disabled]="nextButtonDisable[i] == 'disabled'" icon-start (click)="handleActiveIndex(-1)">
            <ion-icon name='ios-arrow-dropleft-outline'></ion-icon>
            Anterior
          </button>
        </ion-col>
        <ion-col text-right *ngIf="activeCardIndex < testQuestions.length - 1">
          <button ion-button small round color="danger" [disabled]="nextButtonDisable[i] == 'disabled'" icon-end (click)="handleActiveIndex(1)">
            Siguiente
            <ion-icon name='ios-arrow-dropright-outline'></ion-icon>
          </button>
        </ion-col>
        <ion-col text-right *ngIf="testProgress == 100 && activeCardIndex == testQuestions.length - 1">
          <button ion-button small round [disabled]="nextButtonDisable[i] == 'disabled'" color="danger" icon-end (click)="checkAnswers()">
            Finalizar
            <ion-icon name='ios-arrow-dropright-outline'></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>

  <test-progress-bar [progress]="testProgress"></test-progress-bar>
</ion-content>
