page-test, page-pretest {
  ion-content {
    background-image: url('../../assets/imgs/test.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .scroll-content {
      background-color: rgba(255, 255, 255, 0.6);
      ion-card-header {
        white-space: normal;
        background-color: #F53d3d;
        color: white;
      }
      .pages-data {
        border-bottom: 1px solid #EEE;
      }

      .list > .item-block:first-child {
        border-top: 0;
      }

      .list > .item-block:last-child,
      .list > .item-wrapper:last-child .item-block {
        border-bottom: 0;
      }
    }
  }
}
