test-progress-bar {
  display: flex;
  position: relative;
  margin: 20px 12px 12px;
  .progress {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    .bar {
      position: absolute;
      left: 0;
      height: 8px;
      background-color: map-get($colors, danger);
      border-radius: 5px;
    }
  }
}
